body, header, ul, h2{
margin: 0;
padding: 0;
list-style: none;
}
*{
    box-sizing: border-box;
}

header{
   padding-inline: 30px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
li:hover{
    text-decoration: underline;
}

.logo{
    display: flex;
    padding-left: 20px;
}

.logotxt {
    color: var(--Main-Dark, #1A1A1A);
text-align: center;
/* Tablet/H2 */
font-family: Roboto;
font-size: 31px;
font-style: normal;
font-weight: 900;

}

ul{
    display: flex;
    gap: 20px;
    color: var(--Hero-Primary, #F15A24);
    
}

.button{
    padding-right: 20px;
   
}

.section1{
    display: flex;
    gap: 20px;
    width: 100%;
    padding-inline: 20px;
}

.frame1{
    
    width: 50%;
}

h2{
    font-size: 40px;
    width: 100%;
    line-height: 60px;
    
}

.frame2{
    width: 50%;
    padding-right: 20px;
}

main{
    padding-inline: 30px;
}

.button2{
    display: flex;
width: 70px;
padding: 16px 48px;
justify-content: center;
align-items: center;
gap: 10px;
background: var(--Hero-Primary, #F15A24);

}

span{
    white-space: nowrap;
}